<!--
    Centennial College
    Web Application Development - COMP229 / Section 004
   
    Group Project - Survey Website
   
    Team:
     - Carlos Gama    (301257092) / Project Manager
     - Idris Mustapha (301207535) / Back-end Developer
     - Jinsung Park   (301241866) / Front-end Developer
     - Nabin Dotel    (301281044) / Front-end Developer
     - Shristi Prasai (301310100) / Front-end Developer
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="page-top">
    
    <!-- Navigation-->
    <header>
        <%- include('./partials/header'); %>
    </header>

    <!-- Page Content-->
    <div class="container-fluid p-0">
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Carlos <span class="text-primary">Gama</span>
                </h1>
                <div class="subheading mb-5">
                    Bayview Village, Toronto, ON - Canada · (905) 781-5391 ·
                    <a href="gamaroot@gmail.com">gamaroot@gmail.com</a>
                    ·
                    <a href="https://www.linkedin.com/in/carlosgama0057">linkedin.com/carlosgama0057</a>
                </div>
                <p class="lead mb-5">Software Developer since 2010, 5 years in Android development and almost 9 years in Game development.</p>
            </div>
        </section>
    </div>
</body>

<footer>
    <%- include('./partials/footer'); %>
</footer>

</html>