<app-base-page></app-base-page>

<div class="container col-md-4 mt-5 border rounded p-3">
  <div class="text-center">
    <label class="fs-2 fw-bold">Create Account</label>
  </div>
  
  <div class="form-group row mt-3">
    <label for="email" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" [(ngModel)]="email" (input)="onEmailChange()" required>
    </div>
  </div>

  <div class="form-group row mt-3">
    <label for="password" class="col-sm-3 col-form-label">Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="password" placeholder="Enter your password" [(ngModel)]="password" (input)="onPasswordChange()" required>
    </div>
  </div>

  <div class="form-group row mt-3">
    <label for="confirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="confirmPassword" placeholder="Enter your password again" [(ngModel)]="passwordConfirmation" (input)="onPasswordChange()" required>
    </div>
    <label class="text-center text-danger" style="min-height: 1.5em; margin-top: 0.5em;">{{ errorMessage }}</label>
  </div>

  <div class="row col text-center px-5 mt-4">
    <input type="button" id="submitButton" class="btn btn-primary" (click)="createAccount()" [disabled]="!isPasswordConfirmationValid()" value="SUBMIT">
  </div>
</div>